*.pyc
__pycache__/
*.py[cod]
*$py.class
gunicorn.conf
exe/
png/
res/
prepared_images/
db.sqlite3
.venv/
venv/
rdgen/.venv/
rdgen/__pycache__/
rdgen/bin/
rdgen/lib/
rdgen/lib64/
rdgen/include/
rdgen/pyvenv.cfg
.env
